#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	# debian/openfortigui-gtk.install (via dh_install) does the copying

override_dh_auto_test:
	# needs a display/D-Bus session, not available in build chroots
